{% block main %}
    {% if multiple %}
    <form name="frm-{{id}}">
    {% endif %}
        <table class="display table table table-striped table-bordered" id="{{id}}">
            <thead>
                <tr>
                {% if multiple %}
                    <th width="1%" ><input type="checkbox" name="datatable_action_all" /></th>
                {% endif %}
                {% for label,key in fields %}
                    {% if label != '_identifier_' %}
                        <th>{{ label }}</th>
                    {% endif %}
                {% endfor %}
                {% if action %}
                    <th>{{ 'ali.common.action'|trans() }}</th>
                {% endif %}
                </tr>
                {% if (search and search_position == 'Header') %}
                {% set i = 0 %}
                  {% include 'AliDatatableBundle:Main:search.html.twig' %}
                {% endif %}
            </thead>
            {% if (search and search_position == 'Footer') %}
            {% set i = 0 %}
            <tfoot>
              {% include 'AliDatatableBundle:Main:search.html.twig' %}
            </tfoot>
            {% endif %}
        </table>
    {% if multiple %}
    </form>
    {% endif %}
{% endblock main %}
